<footer>
  <p>Powered By <a href="https://spoonacular.com/">Spoonacular</a></p>
</footer>
<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script src="/javascript/main.js"></script>
</body>
</html>