* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: white;
    min-height: 100%;
    padding-bottom: 50px;
    position: relative;
}

#userInput {
    background-color: rgba(191, 198, 145, 0.3);
    border-radius: 10px;
    margin: 15px auto;
    padding: 20px;
    width: 255px;
}

input {
    font-size: 16px;
    width: 100px;
}

.login, .register, .favoriteButton, .searchButton {
    background-color: #a2ac5f;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 1px 8px;
}

.reg {
    color: gray;
    float: right;
    font-size: 10px;
}

label {
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    width: 80px;
}

.register {
    float: right;
}

.error {
    margin: 15px;
}

.recipeList {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.recipeTile {
    border: .5px solid gray;
    border-radius: 10px;
    height: 100vw;
    padding: 0;
    position:relative;
    width: 100%;
}

.noTile {
    margin: 5px 5px;
    width: 100%;
}

.recipeTile img {
    width: 180px;
}

h1 {
    background-color: #a2ac5f;
    color: white;
    font-size: 20px;
    padding: 15px;
}

footer {
    background-color: #a2ac5f;
    bottom: 0;
    padding: 15px;
    position: absolute;
    width: 100%;
}

footer a {
    color: #ffffff;
}

footer p {
    float: right;
}

h2 {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.form, .gallery {
    background-color: white;
    padding: 15px;
}

.favorite {
    background-color: rgba(0,0,0,0.2);
    border: none;
    border-top-right-radius: 10px;
    color: white;
    float: right;
    font-size: 1.1em;
    padding: 5px 7px;
}

.favorited {
    background-color: rgba(255,255,255, 0.4);
    color: red;
}

.viewButton {
    background-color: rgba(255,255,255,0.7);
    border: none;
    bottom: 0;
    font-size: 20px;
    min-height: 60px;
    position: absolute;
    padding: 13px 5px;
    text-align: center;
    width: 100%;
}

.viewButton:hover {
    background-color: rgba(255,255,255,0.9);
}

.gallery {
    margin-top: -12px;
}

.one-recipe {
    border: solid .5px lightgray;
    border-radius: 10px;
    grid-column-end: span 2;    
    overflow: auto;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    width: 100%;
}

.one-image {
    align-self: flex-start;
    float: left;
    margin-right: 30px;
    width: 100%;
}

.one-info {
    margin-top: 20px;
}

.hero {
    list-style: none;
    padding: 0;
}

.one-recipe h2 {
    display: block;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: left;
}

.one-list {
   list-style-type: disc;
   line-height: 1.3em;
}

.info {
    display: flex;
    flex-flow: wrap;
}

.one-recipe a {
    background-color: #a2ac5f;
    border-radius: 5px;
    color: white;
    display: block;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;    
}

.herofave {
    position: absolute;
    right:0;
    top:0;
}

.topArea {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.searchForm {
    border-bottom: solid .5px #a2ac5f;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}
.favoriteField {
    border-bottom: solid .5px #a2ac5f;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

.headerImage {
    background-image: url(../images/cebiche.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    max-height: 200px;
    width: 100%;
}

.logout {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: white;
    color: #a2ac5f;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: -2px;
}

.hidden {
    visibility: hidden;
}

.bottomButtons {
    justify-content: space-between;
    display: flex;
}

@media screen and (min-width: 400px)  {
    .recipeList {
        gap: 5px;
        grid-template-columns: 1fr 1fr;
        margin-top: 5px;
    }

    .recipeTile {
        height: 49vw;
        width: 100%;
    }  

    .noTile {
        width: 49%;
    } 

    .one-image {
        width: 50%;
    }
}

@media screen and (min-width: 600px)  {
    .recipeList {
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .recipeTile {
        height: 33vw;
    }   

    .noTile {
        width: 33%;
    }
    
    h2 {
        font-size: 20px;
    }
    
    input {
        font-size: 20px;
        width: 200px;
    }
    
    .one-image {
        width: 30%;
    }
    
    .one-info {
        margin-top: 0;
    }
    
    .info {
        flex-flow: nowrap;
    }
    
    .one-recipe {
        max-height: 450px;
    }
    
    .register {
        float: none;
        margin-top: 10px;
    }
}



@media (min-width: 800px) {
    .recipeList {
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .recipeTile {
        height: 24.5vw;
    } 
    
    .noTile {
        width: 24.5%;
    }  
}

@media screen and (min-width: 1000px) {
    .recipeList {
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .recipeTile {
        height: 19.5vw;
    }  

    .noTile {
        width: 19.5%;
    } 
}
