* {
    margin: 0;
    box-sizing: border-box;

}
html {
    background-color: white;
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}
#userInput {
    margin: 15px auto;
    padding: 20px;
    width: 255px;
    background-color: rgba(191, 198, 145, 0.3);
    border-radius: 10px;
}
input {
    font-size: 14px;
}
.login, .register, .favoriteButton, .searchButton {
    padding: 1px 8px;

    background-color: #a2ac5f;
    border-radius: 5px;
    font-size: 16px;
}
.reg {
    font-size: 10px;
    color: gray;
    float: right;
}
label {
    width: 80px;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}
.register {
    float: right;
}
.error {
    margin: 15px;
}
.recipeList {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}
.recipeTile {
    width: 100%;
    height: 100vw;
    border: .5px solid gray;
    background-color: light-gray;
    padding: 0;
    position:relative;
    margin:5px 5px;
    border-radius: 10px;

}
.noTile {
    width: 100%;
    margin: 5px 5px;
}
.recipeTile img {
    width: 180px;
}
h1 {
    background-color: #a2ac5f;
    color: white;
    font-size: 20px;
    padding: 15px;

}
footer {
    background-color: #a2ac5f;
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
footer a {
    color: #ffffff;
}
footer p {
    float: right;
}
h2 {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
}
.form, .gallery {
    padding: 15px;
    background-color: white;
}

.favorite {
    color: white;
    background-color: rgba(0,0,0,0.2);
    border: none;
    padding: 5px 7px;
    float: right;
    font-size: 1.1em;
    border-top-right-radius: 10px;
}
.favorited {
    color: red;
    background-color: rgba(255,255,255, 0.4);
}
.viewButton {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    padding: 13px 5px;
    border: none;
    font-size: 15px;
    min-height: 60px;
}
.viewButton:hover {
    background-color: rgba(255,255,255,0.9);
}
.gallery {
    margin-top: -12px;
}

.one-recipe {
    width: 100%;
    
    max-height: 450px;
    overflow: auto;
    margin: 20px auto;
    padding: 10px;
    border: solid .5px lightgray;
    position: relative;
    border-radius: 10px;
}
.one-image {
    width: 30%;
    float: left;
    margin-right: 30px;
    align-self: flex-start;
}
.hero {
    list-style: none;
    padding: 0;

}
.one-recipe h2 {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    font-size: 22px;
}
.one-list {
   list-style-type: disc;
   line-height: 1.3em;
}
.info {
    display: flex;
}
.one-recipe a {
    padding: 5px;
    color: white;
    background-color: #a2ac5f;
    margin: 20px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    
}
.herofave {
    position: absolute;
    top:0;
    right:0;
}
.topArea {
 width: 100%;
 display: flex;
 flex-flow: row wrap;
}
.searchForm {
width: 100%;
text-align: center;
margin-top: 10px;
padding-bottom: 10px;
border-bottom: solid .5px #a2ac5f;
}
.favoriteField {
width: 100%;
text-align: center;
margin-top: 10px;
padding-bottom: 10px;
border-bottom: solid .5px #a2ac5f;
}
.headerImage {
    height: 30vh;
    max-height: 200px;
    width: 100%;
    background-image: url(../images/cebiche.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.logout {
    position: absolute;
    top: 15px;
    right: 15px;
}
.next {
    
}
.hidden {
    display: hidden;
}
.bottomButtons {
    display: flex;
    justify-content: space-between;
}

@media(min-width: 400px) {
    .recipeTile {
        width: 49%;
        height: 49vw;
        margin:5px 0;
       
    }  
    .noTile {
        width: 49%;
        margin: 5px 0;
    } 
}
@media(min-width: 600px) {
    .recipeTile {
        width: 33%;
        height: 33vw;
        margin:5px 0;
       
    }   
    .noTile {
        width: 33%;
    }
}
@media(min-width: 700px) {
    .searchForm, .favoriteField {
        width: 50%;
    }
    
    
}
@media(min-width: 800px) {
    .recipeTile {
        width: 24.5%;
        height: 24.5vw;
        margin:5px 0;
       
    } 
    .noTile {
        width: 24.5%;
    }  
}
@media(min-width: 1000px) {
    .recipeTile {
        width: 19.5%;
        height: 19.5vw;
        margin:5px 0;
       
    }  
    .noTile {
        width: 19.5%;
    } 
}



