<!Doctype html>
</html>
<head>
    <title></title>
</head>
<body></body>
<h1>Register</h1>

<form method="POST" action="/registration"><br>
    <label for="username">Username</label><br>
    <input name="username" type="text"><br>
    <label for="password">Password</label><br>
    <input name="password" type="text"><br><br>
    <input type="submit" value="Submit">
</form>






<h1>Add Favorite</h1>

<form method="POST" action="/addFavorite"><br>
    <label for="chef_id">Chef Id</label><br>
    <input name="chef_id" type="chef_id"><br>
    <label for="f2f_rid">Recipe Id</label><br>
    <input name="f2f_rid" type="number"><br>
    <label for="recipe_name">recipe_name</label><br>
    <input name="recipe_name" type="text"><br><br>
    <label for="imageurl">imageurl</label><br>
    <input name="imageurl" type="url"><br><br>
    <label for="source">source</label><br>
    <input name="source" type="url"><br><br>
    <label for="ingredients">ingredients</label><br>
    <input name="ingredients"><br><br>
    <input type="submit" value="Submit">
</form>


</body>

</html>