<!Doctype html>
</html>
<head>
    <title></title>
</head>
<body></body>
<h1>Register</h1>

<form method="POST" action="/registration"><br>
    <label for="username">Username placeholder="Name"</label><br>
    <input name="username" type="text" placeholder="Name"><br>
    <label for="password">Password</label><br>
    <input name="password" type="text" placeholder="password"><br><br>
    <input type="submit" value="Submit">
</form>



<h1>Add Favorite</h1>

<form method="POST" action="/addFavorite"><br>
    <label for="chef_id">Chef Id</label><br>
    <input name="chef_id" type="chef_id" value="1"><br>
    <label for="recipe_id">Recipe Id</label><br>
    <input name="recipe_id" type="number" value="5555"><br>
    <label for="title">Recipe Title</label><br>
    <input name="title" type="text" value="California-Style Ranch Burger"><br><br>
    <label for="image_url">image</label><br>
    <input name="image_url" type="url" value="http://static.food2fork.com/982862c804.jpg"><br><br>
    <label for="source_url">source</label><br>
    <input name="source_url" type="url" value="http://allrecipes.com/Recipe/California-Style-Ranch-Burger/Detail.aspx"><br><br>
    <label for="ingredients">ingredients</label><br>
    <input name="ingredients" value='{"1 pound lean ground beef", "1 (1 ounce) package original ranch salad dressing mix, divided usage", "1 cup Daisy Brand Sour Cream, divided usage", "4 hamburger buns, lightly grilled if desired", "4 large lettuce leaves", "1/4 tomato, diced", "1/4 red onion, diced"}'><br><br>
    <input type="submit" value="Submit">
</form>


</body>

</html>