<!Doctype html>
</html>
<head>
    <title></title>
</head>
<body></body>
<h1>Register</h1>
</div>
<form method="POST" action="/registration"><br>
    <label for="username">Username</label><br>
    <input name="username" type="text"><br>
    <label for="password">Password</label><br>
    <input name="password" type="text"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
<div></div>
</html>